* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

header {
    background-color: #3161e0;

}

.container {
    margin: 10px 120px;
    display: inline-block;
    width: 100%;
}

.logo, .main-nav, .main-nav li, .main-nav li a {
    display: inline-block;
}

.main-nav li a {
    text-decoration: none;
    color: white;
    
}

.logo {
    vertical-align: middle;
}

li {
    padding: 20px
}

.btn {
    padding: 10px;
    border-radius: 20px;
}

.btn-1 {
    background-color: white;
}

.btn-2 {
    background-color: black;
    color: white;
}

.row {
    width: 100%;
}

.col-left {
    display: inline-block;
    width: 25%;
    float: left;
}

.col-center {
    width: 50%;
    float: left;
}

.col-right {
    float: right;
    width: 25%;
}

.hero {
    text-align: center;
    background-image: url(../img/jumbo.png);
    height: 500px;
    background-size: cover;
    position: relative;
}

.hero-text {
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.hero-text h2 {
    font-size: 52px;
    margin-bottom: 20px;
}

.hero-text p {
    margin-bottom: 20px;
}



